.container
  - if @task.eyecatch.attached?
    .image-eyecatch
      = image_tag @task.eyecatch
  .board-flex
    %h2
      = @task.title
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content 
        = link_to '編集する', edit_board_task_path(@board, @task)
        = link_to '削除する', board_task_path(@board, @task), data:{ method: 'delete', confirm: '本当によろしいですか?' }
  .board
    .board-content 
      = @task.content
  .comment
    %h3 comments
    - @comment.each do |comment|
      .comment.content
        = comment.user.email
        %p= comment.content
  = link_to new_task_comment_path(@task) do
    .new-comment
      %p ＋Add new comment
  
