.container
  .board-flex
    %h2
      = @task.title
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content 
        = link_to '編集する', edit_board_task_path(@board, @task)
        = link_to '削除する', board_task_path(@board, @task), data:{ method: 'delete', confirm: '本当によろしいですか?' }
  .board
    .board-content 
      = @task.content
  .comment
    comments
  = link_to new_board_path do
    .new-comment
      %p ＋Add new comment
  
